<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
          <input
            placeholder="Place title here"
            matInput type="text"
            name="title"
            ngModel>
        </mat-form-field>
        <mat-form-field>
          <textarea
            placeholder="Place comment here"
            matInput rows="6"
            name="content"
            ngModel>
          </textarea>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>

